spring:
  application:
    name: repository
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  flyway:
    enabled: false
---
spring:
  config.activate.on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3306/main
    hikari.username: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
---
spring:
  config.activate.on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3306/main
    hikari.username: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
