name: CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, macOS, ARM64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Make runner.sh executable
        run: chmod +x etc/runner.sh
      - name: Setup Docker Buildx
        run: |
          docker buildx use default
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Run Docker Compose
        run: |
          ./etc/runner.sh etc/guestbook/docker-compose.yaml
