name: CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, macOS, ARM64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Docker Compose
        run: |
          ./etc/runner.sh etc/guestbook/docker-compose.yaml
